:root {

    --mainFont: 'Noto Sans', sans-serif;
    --BoxShadow1: rgba(0, 0, 0, 0.066) 0px 0px 15px 1px;
}

body{
    font-family: var(--mainFont);
    box-sizing: border-box;
}

.DashBoard-Content_Overview_Posts{
    /* background: red; */
    width: 100%;
    height: 100%;
    font-family: var(--mainFont);
    overflow-y: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.DashBoard-Content_Overview_Posts_Post{
    padding: 15px 10px;
    /* background: gray; */
    background: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    min-width: 40%;
    max-width: 500px;
    /* width: 500px; */
    /* min-height: 150px; */
    font-family: var(--mainFont);
    box-shadow: var(--BoxShadow1);
    font-size: 13.5px;
}

.DashBoard-Content_Overview_Posts_Post .post-header{
    /* background: blue; */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.DashBoard-Content_Overview_Posts_Post .post-header .user{
    /* background: green; */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    justify-content: center;
    user-select: none;
}

.DashBoard-Content_Overview_Posts_Post .post-header .user i{
    font-size: 40px;
    color: rgb(80, 115, 230);
}

.DashBoard-Content_Overview_Posts_Post.adminMessagee .post-header .user i{
    font-size: 40px;
    color: rgb(84, 206, 139) !important;
}

/* .DashBoard-Content_Overview_Posts_Post .post-header .user */

.DashBoard-Content_Overview_Posts_Post .post-header .user .texts{
    /* background: orange !important; */
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    justify-content: center !important;
    gap: 0px;
}

.DashBoard-Content_Overview_Posts_Post .post-header .user .texts span{
    margin: 0px;
}

.DashBoard-Content_Overview_Posts_Post .post-header .user .texts .name{
    font-size: 18px;
    color: rgb(101,108,124);
    font-weight: bold;
}

.DashBoard-Content_Overview_Posts_Post .post-header .user .texts .date{
    font-size: 10px;
    color: rgb(183,188,195);
}

.DashBoard-Content_Overview_Posts_Post .post-header .control i{
    color: rgb(101,108,124);
    /* background: red; */
    padding: 8px 9px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    font-size: 15px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    cursor: pointer;
}

.DashBoard-Content_Overview_Posts_Post .post-header .control i:hover{
    background: rgba(183, 188, 195, 0.180);
}

.DashBoard-Content_Overview_Posts_Post .post-description{
    /* background: red; */
    /* height: 100px; */
    height: fit-content;
    padding: 10px 0px;
    overflow: hidden;
}

.DashBoard-Content_Overview_Posts_Post .post-description p{
    /* text-emphasis: ellipsis; */
    /* text-overflow: ellipsis; */
    /* overflow: hidden; */
    /*white-space: nowrap;*/
    margin: 0px;
    color: rgb(101,108,124);
    font-size: 14px;
}

.DashBoard-Content_Overview_Posts_Post .post-control{
    /* background: rgb(152, 152, 157); */
    margin-top: 20px;
}

.DashBoard-Content_Overview_Posts_Post .post-control .info{
    padding: 5px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: var(--mainFont);
    user-select: none;
}

.DashBoard-Content_Overview_Posts_Post .post-control .info span{
    color: rgb(183,188,195);
    font-size: 14px;
}

.DashBoard-Content_Overview_Posts_Post .post-control hr{
    margin: 0px;
    background: rgba(0, 0, 0, 0.236);
    height: 0.5px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.DashBoard-Content_Overview_Posts_Post .post-control .likes-comments{
    padding: 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.DashBoard-Content_Overview_Posts_Post .post-control .likes-comments span{
    /*background: red;
    */padding: 5px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: rgb(101,108,124);
}

.DashBoard-Content_Overview_Posts_Post .post-control .likes-comments span:hover{
    background: rgba(183, 188, 195, 0.180);
}

.DashBoard-Content_Overview_Posts_Post .post-control .likes-comments span i{
    margin-top: 1.5px;
}
