:root {

    --mainFont: 'Noto Sans', sans-serif;
    --BoxShadow1: rgba(0, 0, 0, 0.066) 0px 0px 15px 1px;
}

@font-face {
    font-family: arabicFont;
    src: url(../fonts/BalooBhaijaan2-Regular.ttf);
}

/* font-family: arabicFont; */
/* rgb(84, 206, 139) == green*/

/* rgb(240, 255, 250) == background hover green */


/* 

green button hover

    background: rgb(68, 189, 122);
    box-shadow: 0px 0px 8px 0.2px rgba(84, 206, 139, 0.5);

*/

body {
    font-family: var(--mainFont);
    box-sizing: border-box;
}


.home-container{
    background: rgb(247,248,251);
    /* background: red; */
    box-shadow: none;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background: url('../images/background3.jpg');
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat; */
}

.Home-Sidebar{
    background: rgb(255, 255, 255);
    height: 100vh;
    /* flex: 1.9; */
    width: 310px;
    position: sticky;
    padding-bottom: 20px;
}

.Home-Content{
    /* background: rgb(247,248,251); */
    height: 100vh;
    /* flex: 10; */
    width: 100%;
    /* background: linear-gradient(rgba(243, 254, 245, 0.955), rgba(243, 254, 245, 0.955)), url("../images/background3.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; */
}

.Home-Sidebar_Header{
    background: rgb(255,255,255);
    width: 100%;
    /* height: 50px; */
    padding: 35px 22px 0px 22px;
}

.Home-Sidebar_Header_Content{
    background: rgb(255,255,255);
    /* box-shadow: rgba(237, 237, 237, 0.551) 0px 0px 10px 4px; */
    box-shadow: var(--BoxShadow1);
    /* box-shadow: rgba(24, 68, 113, 0.221) 0px 0px 10px 5px; */
    border-radius: 5px;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* .Home-Sidebar_Header_Content img{
    width: 100%;
    height: 50%;
    border-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    filter: blur(0.3px) grayscale(25%) brightness(80%);
    -webkit-filter: blur(0.3px) grayscale(25%) brightness(80%);
} */

.Home-Sidebar_Header_Content .image{
    width: 100%;
    height: 115px;
    border-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    filter: blur(0.3px) grayscale(25%) brightness(80%);
    -webkit-filter: blur(0.3px) grayscale(25%) brightness(80%);
    background: url('../images/imagepost2.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.Home-Sidebar_Header_Content .text{
    /* background: gray; */
    width: 100%;
    height: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--mainFont);
    align-items: flex-start;
    padding: 10px 15px;
}

.Home-Sidebar_Header_Content .text span{
    color: rgb(65, 70, 80);
    margin: 0px;
    font-weight: bold;
    font-size: 16.5px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.Home-Sidebar_Header_Content .text hr{
    background: rgba(0, 0, 0, 0.236);
    border-radius: 50%;
    outline: none;
    border: none;
    height: 0.5px;
    width: 100%;
    margin: 0px;
    margin: 5px 0px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.Home-Sidebar_Header_Content .text p{
    color: rgb(183,188,195);
    margin: 0px;
    margin-top: 5px;
    font-size: 10px;
}

.Home-Sidebar_Header_NavLinks{
    /* background: gray; */
    width: 100%;
    height: 55%;
    margin-top: 20px;
    padding: 0px;
}

.Home-Sidebar_Header_NavLinks_Ul{
    overflow-y: auto;
    /* background: papayawhip; */
    width: 100%;
    height: 100%;
    margin: 0px;
    list-style: none;
    padding: 5px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
}


.Home-Sidebar_Header_NavLinks_Ul::-webkit-scrollbar{
    /* background: rgba(187, 38, 38, 0.022); */
    background: transparent;
    width: 5px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.Home-Sidebar_Header_NavLinks_Ul::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0.033);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.Home-Sidebar_Header_NavLinks_Ul_Li{
    /* background: rgb(140, 93, 93); */
    text-decoration: none;
    /* padding: 0px;
    padding: 15px 0px;
    padding-right: 10px;
    padding-left: 20px; */
    width: 100%;
    position: relative;
    font-family: arabicFont;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    cursor: pointer;
    font-size: 19px;
    font-weight: bold;
    color: rgb(183,188,195);
}

.Home-Sidebar_Header_NavLinks_Ul_Li a{
    /* background: red; */
    color: rgb(183,188,195);
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    gap: 15px;
    padding: 0px;
    padding: 15px 0px;
    padding-right: 20px;
    padding-left: 10px;
}

.Home-Sidebar_Header_NavLinks_Ul_Li a:hover{
    color: rgb(183,188,195);
}

.Home-Sidebar_Header_NavLinks_Ul_Li::before{
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 4px;
    background: transparent;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.Home-Sidebar_Header_NavLinks_Ul_Li i{
    font-size: 20px;
    margin-top: -4px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    color: rgb(126, 127, 128);
}

.Home-Sidebar_Header_NavLinks_Ul_Li span{
    text-transform: capitalize;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.Home-Sidebar_Header_NavLinks_Ul_Li:hover{
    background: rgb(240, 255, 250);
}

.Home-Sidebar_Header_NavLinks_Ul_Li:hover i{
    color: rgb(84, 206, 139);
}

.Home-Sidebar_Header_NavLinks_Ul_Li:hover span{
    color: rgb(84, 206, 139);

}


.Home-Sidebar_Header_NavLinks_Ul_Li:hover::before{
    background: rgb(84, 206, 139);
}


.Home-Sidebar_Header_NavLinks_Ul_Li a::before{
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 4px;
    background: transparent;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.Home-Sidebar_Header_NavLinks_Ul_Li .active, .Home-Sidebar_Header_NavLinks_Ul_Li .active i{
    color: rgb(84, 206, 139) !important;
    background: rgb(240, 255, 250) !important;
}

.Home-Sidebar_Header_NavLinks_Ul_Li .active::before{
    background: rgb(84, 206, 139)  !important;
}


/* 
    Start Home-Content ===============================================================
*/

.Home-Content_Header{
    /* background: rgb(84, 206, 139); */
    background: url('../images/background2.jpg');
    /* background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; */
    width: 100%;
    height: 20%;
    /* filter: blur(0px) grayscale(55%) brightness(150%); */
    /* -webkit-filter: blur(0px) grayscale(55%) brightness(150%); */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    padding: 0px 25px;
    font-family: var(--mainFont);
}

.Home-Content_Header_NavBar{
    /* background: red; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 20px;
}

.Home-Content_Header_NavBar h1{
    font-size: 30px;
    /* color: rgb(255,255,255); */
    color: rgb(84, 206, 139);
    font-weight: bold;
    /* box-shadow: var(--BoxShadow1); */
    /* text-shadow:rgba(0, 0, 0, 0.066) 0px 0px 5px; */
    text-shadow:rgba(0, 0, 0, 0.066) 1px 1px 5px;
    font-family: arabicFont;
}

.Home-Content_Header_NavBar_Ul{
    /* background: gray; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    gap: 15px;
}

.Home-Content_Header_NavBar_Ul_Li{
    list-style: none;
    /* padding: 20px; */
}

.Home-Content_Header_NavBar_Ul_Li a{
    font-family: var(--mainFont);
    background: rgb(255,255,255);
    box-shadow: var(--BoxShadow1);
    padding: 6.5px 11px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    cursor: pointer;
    color: rgb(65, 70, 80);
    font-size: 15px;
    position: relative;
    z-index: 1;
}

.Home-Content_Header_NavBar_Ul_Li.UserAccount a{
    background: rgb(255,255,255);
    box-shadow: var(--BoxShadow1);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    cursor: pointer;
    color: rgb(65, 70, 80);
    font-size: 15px;
    text-decoration: none;
    padding: 8px 11px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-transform: capitalize;
}

.Home-Content_Header_NavBar_Ul_Li.UserAccount a span{
    font-weight: bold;
    margin-bottom: 1.1px;
}

.Home-Content_Header_NavBar_Ul_Li.UserAccount a img{
    width: 35px;
    height: 35px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

/* .Home-Content_Header_NavBar_Ul_Li a::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 20px;
    height: 100%;
    background: rgb(255,255,255);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    z-index: -1;
} */


.Home-Content_Header_Info{
    background: transparent;
    /* background: gray; */
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: -30px;
    padding: 0px 25px;
    /* padding: 0px 40px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 900;
}

.Home-Content_Header_NavBar_Ul_Li i{
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.Home-Content_Header_NavBar_Ul_Li a:hover, .Home-Content_Header_NavBar_Ul_Li a:hover i{
    color: rgb(84, 206, 139) !important;
}

.Home-Content_Header_NavBar_Ul_Li:nth-child(2) i{
    color:rgb(116, 118, 122);
}

.Home-Content_Header_NavBar_Ul_Li:nth-child(3) i{
    color:rgb(116, 118, 122);
}

.Home-Content_Header_NavBar_Ul_Li:nth-child(1) i{
    color:rgb(116, 118, 122);
}

.Home-Content_Header_NavBar_Ul_Li:nth-child(4) i{
    color:rgb(209, 121, 121);
}

/* .Home-Content_Header_NavBar_Ul_Li:nth-child(1) i{
    color:rgb(65, 70, 80);
} */



.Home-Content_Header_Info_Statistics, .Home-Content_Header_Info_Date{
    background: rgb(255,255,255);
    padding: 12px 32px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    font-family: var(--mainFont);
    font-size: 14px;
    box-shadow: var(--BoxShadow1);
}

.Home-Content_Header_Info_Statistics{
    /* background:rgba(0, 0, 0, 0.236); */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 18px;
    user-select: none;
}

.Home-Content_Header_Info_Statistics_BreakLine{
    color: rgba(183, 188, 195, 0.268);
    height: 100%;
    /* width: 1px; */
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.Home-Content_Header_Info_Statistics_Item{
    text-transform: capitalize;
    /* background: plum; */
    padding: 0px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2px;
}

.Home-Content_Header_Info_Statistics_Item_Text{
    text-transform: capitalize;
    /* background: rgb(103, 124, 98); */
    /* padding: 0px 5px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    user-select: none;
    font-size: 12px;
    color: rgb(183,188,195);
}

.Home-Content_Header_Info_Statistics_Item_Count{
    /* background: yellow; */
    font-size: 15px;
    font-weight: bold;
    color: rgb(101,108,124);
    margin-left: 1px;
}

.Home-Content_Header_Info_Statistics_Item i{
    font-size: 10px;
    margin-top: 3px;
    color: rgb(61, 194, 100);
}

.Home-Content_Header_Info_Date{
    /* background: red; */
    font-family: var(--mainFont);
    color: rgb(101,108,124);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    font-weight: bold;
}

.Home-Content_Header_Info_Date i{
    color:rgb(84, 206, 139);
}

/* Start Home-Content_Body ============================================================== */


.Home-Content_Body{
    /* background: red; */
    width: 100%;
    height: calc(100vh - 20% - 35px);
    padding: 15px 15px;
    /* padding-top: 80px; */
    margin-top: 35px;
    /* height: fit-content; */
    overflow-y: auto;
}

.Home-Content_Body::-webkit-scrollbar{
    background: rgba(0, 0, 0, 0.022);
    width: 5px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.Home-Content_Body::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0.033);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.Home-Content_Overview{
    /* background: rgb(129, 129, 146); */
    width: 100%;
    height: fit-content;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.Home-Content_Overview_FirstSide{
    /* background: rgb(210, 172, 148); */
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.Home-Content_Overview_FirstSide_Statistics{
    /* background: rgb(112, 154, 112); */
    width: 100%;
    height: calc(50% - 10px);
}

.Home-Content_Overview_FirstSide_Statistics_Ul{
    background:rgba(84, 206, 139, 0.040);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    font-family: var(--mainFont);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 10px 15px;
    width: 100%;
    height: fit-content;
    gap: 8px;
    /* overflow-y: auto; */
    margin-bottom: 0px !important;;
}

.Home-Content_Overview_FirstSide_Statistics_Ul_Header h1{
    font-size: 25px;
    /* background: red; */
    margin: 0px;
    text-transform: capitalize;
    font-weight: bold;
    color: rgb(255,255,255);
    user-select: none;
    margin-bottom: 10px;
}

.Home-Content_Overview_FirstSide_Statistics_Ul_Li{
    list-style: none;
    /* background: rgb(95, 127, 235); */
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 10px;
    padding-left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    color: rgb(255,255,255);
    font-size: 16px;
    user-select: none;
}

.Home-Content_Overview_FirstSide_Statistics_Ul_Li:nth-child(2){
    border: 2px solid rgba(84, 206, 139, 0.90);
    background: rgba(84, 206, 139, 0.040);
    color: rgb(84, 206, 139);
    font-family: arabicFont;
    /* box-shadow: rgba(242, 105, 105, 0.300) 0px 0px 7px 1px; */
}

.Home-Content_Overview_FirstSide_Statistics_Ul_Li:nth-child(3){
    border: 2px solid rgba(255, 183, 16, 0.90);
    background: rgba(255, 183, 16, 0.040);
    color: rgb(255, 183, 16);
    font-family: arabicFont;
    /* box-shadow: rgba(255, 213, 114, 0.300) 0px 0px 7px 1px; */
}

.Home-Content_Overview_FirstSide_Statistics_Ul_Li_Text{
    /* background:rgb(65, 70, 80); */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    text-transform: capitalize;
}

.Home-Content_Overview_FirstSide_Statistics_Ul_Li span:not(.Home-Content_Overview_FirstSide_Statistics_Ul_Li_Text span){
    font-size: 25px;
}

.Home-Content_Overview_FirstSide_Statistics_Ul_Li_Text img{
    /* background: gray; */
    margin: 0px;
    padding: 0px;
    height: 40px;
    width: 40px;
}

.Home-Content_Overview_FirstSide_Notes{
    background: rgba(84, 206, 139, 0.040);
    width: 100%;
    /* height: calc(50% - 10px); */
    /* min-height: 299px;
    max-height: 299px; */
    height: 244px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 20px;
    font-family: var(--mainFont);
}

.Home-Content_Overview_FirstSide_Notes_Control{
    /* background: blue; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    /* padding: 5px; */
    font-size: 15px;
}

.Home-Content_Overview_FirstSide_Notes_Control input{
    width: 100%;
    border-style: none;
    outline: none;
    padding: 5px 10px;
    border-bottom: 1.5px solid rgb(84, 206, 139);
    background: transparent;
    /* transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease; */
    /* color: rgb(101,108,124); */
    color: rgba(39, 101, 67, 0.575)
}

.Home-Content_Overview_FirstSide_Notes_Control input::placeholder{
    /* color: rgb(183,188,195); */
    color: rgba(39, 101, 67, 0.575)
}

.Home-Content_Overview_FirstSide_Notes_Control button{
    color: rgb(84, 206, 139);
    border-style: none;
    outline: none;
    background: transparent;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.Home-Content_Overview_FirstSide_Notes_Control button i{
    color: rgb(84, 206, 139);
}

/* background: rgb(68, 189, 122);
box-shadow: 0px 0px 8px 0.2px rgba(84, 206, 139, 0.5); */

.Home-Content_Overview_FirstSide_Notes_Ul{
    /* background: rgb(113, 158, 109); */
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding: 5px 0px;
    padding-bottom: 0px;
    margin: 0px;
    padding-right: 30px;
}


.Home-Content_Overview_FirstSide_Notes_Ul::-webkit-scrollbar{
    /* background: rgba(187, 38, 38, 0.022); */
    background: transparent;
    width: 5px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.Home-Content_Overview_FirstSide_Notes_Ul::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0.033);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.Home-Content_Overview_FirstSide_Notes_Ul_Loading{
    font-weight: bold;
    /* color: rgb(84, 206, 139); */
    color: rgb(39, 101, 67);
    font-size: 15px;
    font-family: var(--mainFont);
}

.Home-Content_Overview_FirstSide_Notes_Ul_Li{
    background: rgba(84, 206, 139, 0.040);
    list-style: none;
    margin: 0px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    font-family: var(--mainFont);
    font-size: 15px;
    padding: 5px 10px;
    height: fit-content;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    cursor: pointer;
}

.Home-Content_Overview_FirstSide_Notes_Ul_Li:not(:last-child){
    border-bottom: 2px solid rgb(247,248,251);
}

.Home-Content_Overview_FirstSide_Notes_Ul_Li:hover{
    background: rgba(84, 206, 139, 0.120);
}

.Home-Content_Overview_FirstSide_Notes_Ul_Li span{
    font-weight: bold;
    color: rgb(39, 101, 67);
    user-select: none;
}

.Home-Content_Overview_FirstSide_Notes_Ul_Li p{
    color: rgba(39, 101, 67, 0.575);
    margin: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 420px;
    min-width: 20px;
    user-select: none;
    font-size: 12px;
}

.Home-Content_Overview_SecondSide{
    /* background:rgb(145, 138, 202); */
    height: 495px !important;
    flex: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* gap: 20px; */
}

.Home-Content_Overview_SecondSide_Calendar{
    /* background: rgba(84, 206, 139, 0.040); */
    width: 100%;
    height: 100% !important;
}

.Home-Content_Overview_SecondSide_Calendar .cIFnvd[aria-pressed='true']{
    background: rgb(84, 206, 139);
}

.Home-Content_Overview_SecondSide_Calendar .EgCLV{
    border: transparent;
    background: rgba(85, 205, 140, 0.120);
}

.Home-Content_Overview_SecondSide_Calendar_Chart{
    background: rgba(84, 206, 139, 0.040);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    flex-direction: column;
    gap: 10px;
}

.Home-Content_Overview_SecondSide_Calendar .btFINQ{
    color: rgb(39, 101, 67);
}

.Home-Content_Overview_SecondSide_Calendar_Chart span.date{
    margin: 0px;
    color: rgb(65, 70, 80);
    font-size: 15px;
    background: rgb(84, 206, 139);
    padding: 5px 30px;
    border-radius: 5px;
    color: white;
    font-family: var(--mainFont);
}


/* .Home-Content_Overview_SecondSide_Logs{
    background: rgb(127, 82, 136);
    width: 100%;
    height: 50%;
} */

.Home-Content_Overview_SecondSide_Badges{
    /* background: rgb(255, 255, 255); */
    background: rgba(84, 206, 139, 0.040);
    width: 100%;
    /* height: calc(50% - 10px); */
    height: 73%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 20px;
    font-family: arabicFont;
}

.Home-Content_Overview_SecondSide_Badges span{
    margin: 0px;
    /* color: rgb(65, 70, 80); */
    font-size: 15px;
    background: rgb(84, 206, 139);
    padding: 5px 30px;
    border-radius: 5px;
    color: white;
    font-family: arabicFont;
    width: 100%;
    text-align: center;
}

.Home-Content_Overview_SecondSide_Badges div{
    width: 100%;
    /* background: red; */
    padding: 5px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
}

.Home-Content_Overview_SecondSide_Badges div i{
    font-size: 15px;
    background: rgb(65, 70, 80);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.Home-Content_Overview_SecondSide_Badges div img{
    font-size: 15px;
    background: rgba(85, 205, 140, 0.120);
    color: white;
    padding: 5px 7px;
    border-radius: 5px;
    height: 45px;
    width: 50px;
    user-select: none;
    -moz-user-select: none;
    filter: grayscale(100%);
    opacity: 55%;
    -webkit-filter: grayscale(100%);
}

.Home-Content_Overview_SecondSide_Badges div img.active{
    filter: grayscale(0%);
    opacity: 100%;
    -webkit-filter: grayscale(0%);
}


.Home-Content_Overview_ThirdSide{
    /* background:rgb(145, 138, 202); */
    background: rgba(84, 206, 139, 0.040);
    height: 495px !important;
    flex: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* gap: 20px; */
    padding: 20px !important;
}

.Home-Content_Overview_ThirdSide .header{
    margin: 0px;
    /* color: rgb(65, 70, 80); */
    font-size: 15px;
    background: rgb(84, 206, 139);
    padding: 5px 30px;
    border-radius: 5px;
    color: white;
    font-family: arabicFont;
    width: 100%;
    text-align: center;
}

.Home-Content_Overview_ThirdSide_Info{
    background: transparent;
    width: 100%;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px 0px;
    gap: 5px;
}

.Home-Content_Overview_ThirdSide_Info span{
    font-size: 15px;
    font-weight: bold;
    /* color: rgb(65, 70, 80); */
    color: rgb(39, 101, 67);
}

.Home-Content_Overview_ThirdSide_Info span span{
    font-weight: normal;
    margin-left: 4px;
}

.Home-Content_Overview_ThirdSide_Info span.active span{
    color: white;
    padding: 2.5px 6px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    user-select: none;
}

.Home-Content_Overview_ThirdSide_Info span.active span.active-true{
    background: rgba(45, 230, 140, 0.35);
    color: rgb(84, 206, 139);
}

.Home-Content_Overview_ThirdSide_Info span.active span.active-false{
    background: rgba(230, 80, 80, 0.35);
    color: rgb(230, 80, 80);
}


.home-container_Note{
    background:rgba(0, 0, 0, 0.819);
    filter: blur(0px);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container_Note .note{
    /* background: rgb(255,242,120); */
    /* background: url('../images/paper.png'); */
    /* background-position: center center; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    padding: 20px 40px;
    /* background-attachment: fixed; */
    width: 30%;
    /* min-height: 50%; */
    height: 55%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-family: var(--mainFont);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    /* overflow-y: auto; */

}

.home-container_Note .note span{
    font-size: 30px;
    text-transform: capitalize;
    font-weight: bold;
    color: rgb(101,108,124);
    margin: 0px;
    margin-bottom: 10px;
}

.home-container_Note .note p{
    color: rgb(101,108,124);
    /* background: red; */
    font-size: 15px;
    margin: 0px;
    margin-bottom: 20px;
    text-overflow: wrap;
    white-space: wrap;
    word-wrap: break-word;
    overflow-y: auto;
    height: 245px;
}

.home-container_Note .note p::-webkit-scrollbar{
    /* background: rgba(187, 38, 38, 0.022); */
    background: transparent;
    width: 5px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.home-container_Note .note p::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0.033);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.home-container_Note .note button{
    margin: 5px 0px;
    width: 100%;
    padding: 5px 10px;
    border-style: none;
    outline: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    /* background:rgb(123, 136, 180); */
    background: rgb(84, 206, 139);
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.home-container_Note .note button:nth-child(1){
    /* position: absolute; */
    /* left: calc(20% / 2); */
    /* bottom: 5px; */
}

.home-container_Note .note button:nth-child(2){
    /* position: absolute; */
    /* left: calc(20% / 2); */
    /* bottom: 15px; */
    /* margin-top: 10px; */
}

.home-container_Note .note img{
    position: absolute;
    opacity: 90%;
    left: -98px;
    top: -65px;
    z-index: -1;
    width: calc(100% + 200px);
    height: calc(100% + 100px);
}

.home-container_Note .note button:hover{
    background: rgb(68, 189, 122);
    box-shadow: 0px 0px 8px 0.2px rgba(84, 206, 139, 0.5);
}



/* ========= Start [Account Setting] ==================== */


.Home-Content_Overview_Setting{
    /* background: red; */
    width: 100%;
    height: 100%;
    font-family: var(--mainFont);
    overflow-y: auto;
    padding-bottom: 20px;
}

.Home-Content_Overview_Setting form{
    /* background: bisque; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 25px;
    text-align: right;
}

.Home-Content_Overview_Setting form h1{
    font-size: 30px;
    font-weight: bold;
    color:rgb(84, 206, 139);
    margin: 0px;
    padding: 10px 0px;
    padding-left: 15px;
    border-bottom: 2px solid rgb(84, 206, 139);
    text-transform: capitalized;
    position: relative;
    user-select: none;
    /* background: red; */
    text-align: right;
    font-family: arabicFont !important;
}

.Home-Content_Overview_Setting form h1:not(:first-child){
    margin-top: 10px;
}

.Home-Content_Overview_Setting form h1::before{
    content: '';
    width: 55px;
    height: 5px;
    background: rgb(84, 206, 139);
    position: absolute;
    bottom: -3.6px;
    right: 0px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.Home-Content_Overview_Setting form .Home-Content_Overview_Setting_Group{
    /* background: brown; */
    display: flex;
    flex-direction: column;
    width: 35%;
    /* padding: 20px; */
}

.Home-Content_Overview_Setting_Group{
    /* background: gray; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: right;
}

.Home-Content_Overview_Setting form .Home-Content_Overview_Setting_Group label{
    margin: 0px;
    background: rgb(247,248,251);
    /*background: red;
    */width: fit-content;
    color:rgb(84, 206, 139);
    padding: 0px 5px;
    transform: translate(-15px, 5px) !important;
    font-size: 15px;
    user-select: none;
    text-align: left !important;
    font-family: arabicFont !important;
    -webkit-transform: translate(-15px, 5px) !important;
    -moz-transform: translate(-15px, 5px) !important;
    -ms-transform: translate(-15px, 5px) !important;
    -o-transform: translate(-15px, 5px) !important;
    border: 1.5px solid rgb(84, 206, 139) !important;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
}

.Home-Content_Overview_Setting form .Home-Content_Overview_Setting_Group input{
    background: rgb(247,248,251);
    margin: 0px;
    outline: none;
    border-style: none;
    padding: 10px 15px !important;
    padding-top: 10px;
    border-radius: 5px;
    font-size: 15px;
    color: rgb(101,108,124);
    border: 1.5px solid rgb(84, 206, 139);
    width: 100%;
}

.Home-Content_Overview_Setting form .Home-Content_Overview_Setting_Group label:not(:first-child){
    margin-top: 20px !important;
}

.Home-Content_Overview_Setting_Control{
    /* background: red; */
    width: 100%;
    padding: 10px 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: arabicFont !important;
}

.Home-Content_Overview_Setting_Control button{
    margin: 0px;
    /* width: 50px; */
    padding: 6px 30px;
    border-style: none;
    outline: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    background:rgb(84, 206, 139);
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.Home-Content_Overview_Setting_Control button:hover{
    background: rgb(68, 189, 122);
    box-shadow: 0px 0px 8px 0.2px rgba(84, 206, 139, 0.5);
}


/*  ============================== Create Report ============================= */

.Home-Content_Overview_Message{
    /* background: red; */
    width: 100%;
    height: 100%;
    font-family: var(--mainFont);
    overflow-y: auto;
    padding-bottom: 20px;
}

.Home-Content_Overview_Message_CreateMessage{
    /* background:rgb(209, 121, 121) */
}

.Home-Content_Overview_Message_CreateMessage form{
    /* background: bisque; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.Home-Content_Overview_Message_CreateMessage form h1{
    font-size: 30px;
    font-weight: bold;
    color:rgb(84, 206, 139);
    margin: 0px;
    padding: 10px 15px;
    /* padding-right: 15px; */
    border-bottom: 2px solid rgb(84, 206, 139);
    text-transform: capitalized;
    position: relative;
    user-select: none;
}

.Home-Content_Overview_Message_CreateMessage form h1:not(:first-child){
    margin-top: 10px;
}

.Home-Content_Overview_Message_CreateMessage form h1::before{
    content: '';
    width: 55px;
    height: 5px;
    background: rgb(84, 206, 139);
    position: absolute;
    bottom: -3.6px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.Home-Content_Overview_Message_CreateMessage form .Home-Content_Overview_Message_CreateMessage_Group{
    /* background: brown; */
    display: flex;
    flex-direction: column;
    width: 35%;
    /* padding: 20px; */
}

.Home-Content_Overview_Message_CreateMessage_Group{
        /* background: gray; */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        text-align: right;
}

.Home-Content_Overview_Message_CreateMessage form .Home-Content_Overview_Message_CreateMessage_Group label{
    margin: 0px;
    background: rgb(247,248,251);
    /*background: rgb(5, 29, 100);
    */width: fit-content;
    color:rgb(84, 206, 139);
    padding: 0px 5px;
    transform: translate(-15px, 5px) !important;
    font-size: 15px;
    user-select: none;
    text-align: left;
    font-family: arabicFont !important;
    -webkit-transform: translate(-15px, 5px) !important;
    -moz-transform: translate(-15px, 5px) !important;
    -ms-transform: translate(-15px, 5px) !important;
    -o-transform: translate(-15px, 5px) !important;
    border: 1.5px solid rgb(84, 206, 139);
    /* border-bottom: none; */
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.Home-Content_Overview_Message_CreateMessage form .Home-Content_Overview_Message_CreateMessage_Group input, .Home-Content_Overview_Message_CreateMessage form .Home-Content_Overview_Message_CreateMessage_Group textarea{
    background: rgb(247,248,251);
    margin: 0px;
    outline: none;
    border-style: none;
    padding: 10px 15px !important;
    padding-top: 10px;
    /* padding-top: 15px;  */
    border-radius: 5px;
    font-size: 15px;
    color: rgb(101,108,124);
    border: 1.5px solid rgb(84, 206, 139);
    width: 100%;
}

.Home-Content_Overview_Message_CreateMessage form .Home-Content_Overview_Message_CreateMessage_Group textarea{
    height: 200px;
    resize: none;
}

.Home-Content_Overview_Message_CreateMessage form .Home-Content_Overview_Message_CreateMessage_Group textarea::-webkit-scrollbar{
    background: rgba(0, 0, 0, 0.022);
    width: 5px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.Home-Content_Overview_Message_CreateMessage form .Home-Content_Overview_Message_CreateMessage_Group textarea::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0.033);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.Home-Content_Overview_Message_CreateMessage form .Home-Content_Overview_Message_CreateMessage_Group label:not(:first-child){
    margin-top: 20px !important;
}

.Home-Content_Overview_Message_CreateMessage_Control{
    /* background: red; */
    width: 100%;
    padding: 10px 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Home-Content_Overview_Message_CreateMessage_Control button{
    margin: 0px;
    /* width: 50px; */
    padding: 6px 30px;
    border-style: none;
    outline: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    background:rgb(84, 206, 139);
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.Home-Content_Overview_Message_CreateMessage_Control button:hover{
    background: rgb(68, 189, 122);
    box-shadow: 0px 0px 8px 0.2px rgba(84, 206, 139, 0.5);
}
